.privacy-policy-container {
	width: 80%;
	margin: auto;

	.title-container {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 20px;

		.light-weight-img {
			height: 50px;
			width: 50px;
		}

		.text-content {
			& > h1 {
				font-size: var(--font-size-h3);
				font-weight: bold;
			}
		}
	}

	.commit-content {
		width: 90%;
		margin: auto;
		margin-bottom: 20px;
		font-size: var(--font-size-h6);
		font-style: italic;
		color: red;

		&::before {
			content: "*";
			color: red;
			margin-right: 5px;
		}
	}

	.privacy-policy-items-container {
		list-style-type: decimal;
		width: 90%;
		margin: auto;
		// padding-left: 6.7%;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.item {
			margin-bottom: 10px;
			& > h1 {
				font-size: var(--font-size-h4);
				font-weight: bold;
			}

			&::marker {
				font-size: var(--font-size-h4);
				font-weight: bold;
			}

			& > p {
				font-size: var(--font-size-h5);
				margin-bottom: 10px;
			}

			// FOR BIG MAIN CONTENT
			.item-content {
				list-style-type: disc;
				margin-left: 20px;

				li {
					font-size: var(--font-size-h6);

					&::marker {
						font-size: var(--font-size-h6);
						font-weight: bold;
					}
				}
			}

			// FOR SUB CONTENT
			.sub-data-content {
				.sub-data-title {
					font-size: var(--font-size-h5);
					font-weight: bold;
				}

				.sub-item-content {
					width: 95%;
					margin: auto;
					list-style-type: disc;

					margin-bottom: 10px;
				}
			}
		}
	}
}
