.homepage-container {
	.welcome-section {
	}

	.about-us-section {
		margin-top: 50px;
	}

	.offer-section-container {
		margin-top: 50px;
	}

	.feature-section-container {
		margin-top: 100px;
	}

	.trailer-video-section-container {
		margin-top: 100px;
	}

	.sponsor-section-container {
		margin-top: 100px;
	}

	.faq-section-container {
		margin-top: 100px;
	}
}
