.homepage-container {
	.welcome-section {
		padding-top: var(--header-height);
	}

	.about-us-section {
		padding-top: 100px;
	}

	.offer-section-container {
		padding-top: 100px;
	}

	.feature-section-container {
		padding-top: 100px;
	}

	.trailer-video-section-container {
		padding-top: 100px;
	}

	.sponsor-section-container {
		padding-top: 150px;
	}

	.waywf-section-container {
		padding-top: 100px;
	}

	.faq-section-container {
		padding-top: 100px;
	}

	.page-footer {
		margin-top: 70px;
	}
}
