.welcome-image-container {
	width: 100%;

	.img-container {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 100%;

		img {
			height: 100%;
		}

		.leftside-container {
			width: 57%;
			position: relative;
			z-index: 2;
		}

		.rightside-container {
			width: 50%;
			position: relative; /* Only relative, not both relative and absolute */
			z-index: 1;

			.black-img {
				width: 100%;
				height: auto; /* Ensures the black image maintains aspect ratio */
			}

			.title-container {
				position: absolute;
				width: 55%;
				top: 20%; /* Adjust positioning as necessary */
				left: 50%; /* Center horizontally and vertically */
				transform: translate(-50%, -50%);
				text-align: center;
				display: grid;
				grid-template-columns: 2fr;
				grid-template-rows: 2fr;

				& > h1 {
					color: white; /* Ensure text is visible over the black background */
					font-size: var(--font-size-h2);
				}

				.nd2 {
					grid-row: 2;
					grid-column: 2;
					font-size: 40px;
					margin-left: -70px;
					font-style: italic;
				}
			}

			.quote-container {
				width: 65%;
				position: absolute;
				top: 50%; /* Adjust positioning as necessary */
				left: 50%; /* Center horizontally and vertically */
				transform: translate(-50%, -50%);
				text-align: justify;
				display: flex;
				gap: 20px;

				.quote {
					color: white;
					font-size: var(--font-size-base);
					font-weight: 300;
				}

				.right-apostrophe {
					align-content: end;
				}
			}

			.button-container {
				position: absolute;
				top: 75%; /* Adjust positioning as necessary */
				left: 50%; /* Center horizontally and vertically */
				transform: translate(-50%, -50%);
				text-align: center;

				.text {
					color: white;
					font-weight: 300;

					& > p:not(.supported-text) {
						font-weight: bold;
					}
				}

				.btns {
					margin-top: 20px;
					display: flex;
					gap: 20px;
				}
			}
		}
	}
}
